body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  color: black;
  margin: 0;
}

body.mobile{
  overflow: hidden;
  -webkit-tap-highlight-color: transparent; 
  -webkit-user-select: none;
  user-select: none;

}

button {
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
  touch-action: manipulation;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}



#hello-message {
  position: fixed;
  top: 10%;
  text-align: center;
  display: block;
  margin: 30px;
  width: 100%;
}

#login-button {
  background-color: #1ed760;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding-right: 20px;
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

#login-button img {
  height: 50px;
}


.landing-page {
  text-align: center;
  align-items: center;
  display:flex;
  flex-direction: column;
  max-width: 500px;
}

#landing-page-text{
  margin: 20px
}


.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 95vw;
  height: auto;
  max-height: 100vh;
  position: relative;
}

.player-container {
  background-color: #e7e7e7;
  padding: 25px 25px;
  border-radius: 30px;
  box-shadow: 0 0px 10px inset rgba(0, 0, 0, 0.3), 0 0px 10px  rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: center;
  display:flex;
  transition: 0.5s ease;
}

.player-container.ready {
  min-width: 250px;
  max-width: 250px;
  padding: 30px 23px 60px 23px;
}

.song-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-album {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeInControls {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1.3);
  }
}

.fade-in-controls {
  animation: fadeInControls 0.5s ease-out forwards;
}

.album-cover {
  margin-bottom: 5px;
  width: 100%; 
}

.album-cover img {
  max-width: 90%;
  border: black 3px solid;
}

.song-details-content {
  display: flex;
  width: 90%; 
  text-align: left; 
  justify-content: space-between; 
  margin-bottom: 30px;
}


.song-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.8rem;
}

#current-song{
  font-weight: bold;
}

.like-button {
  width: 18%;
  border-radius: 30%;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 80%;
  color: white;
  background-image: url(media/unliked.png);
}

.controls {
  margin: auto;
  background-color: white;
  width: 70%;
  padding: 10px;
  display: flex;
  box-shadow: 0 0 6px inset rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  transform: scale(1.3);
}

.controls button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}


.next-button {
  background-size: 80%;
  background-color: rgba(128, 128, 128, 0);
  color: white;
  background-image: url(media/skip.png);
  margin-right: 10px;
}

.previous-button {
  background-size: 80%;
  background-color: rgba(128, 128, 128, 0);
  color: white;
  background-image: url(media/prev.png);
  margin-left: 10px;
  
}

.play-button {
  background-color: rgba(0, 0, 0, 0);
  background-size: 90%;
  color: white;
  background-image: url(media/pause.png);
  
}

.loading {
  color: #333;
}
.get-started-button {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}




#sign-out {
  background: none;
  position: fixed;
  top: 10px;
  right: 10px;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}


.device-selection {
  text-align: center;
  align-items: center;
  display:flex;
  flex-direction: column;
}

.device-selection button{
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
  cursor: pointer;
  text-align: left;
  flex-direction: column;
}

.prompt-text {
  margin-right: 10px;
  text-align: left;
  margin-top: 20px;
}

#device-list button {
  background-color: rgb(239, 239, 239);
  color: black;
}

#start-playing {
  background-color: #1ed760;
  color: white;

}

.refresh-devices {
  background-color: #9ADDFF !important;
}

#about-div, #settings-div{
  display: flex;
  flex-direction: column;
} 

#about-div.desktop, #settings-div.desktop{
  width: 250px;
  height: 450px;
  margin: 10px;
}

#about-div.desktop {
  align-items: right;
  text-align: right;
}

#about-div.mobile {
  position: fixed;
  top: 10px;
  left: 50px;
  text-align: left;
}

#settings-div.mobile{
  position: fixed;
  top: 10px;
  left: 10px;
  
}


#about-button{
  background: none;
  margin-left: auto;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#settings-button {
  width: 20px;
  border: none;
  border-radius: 50%;
  padding: 15px;
  background-image: url(media/settings2.png);
  background-size: cover;
  background-color: transparent; 
}

#about{
  background: none;
  border: none;
  font-size: 0.8rem;
  overflow-y: auto;
  margin-right: 10px;
}

#settings-div {
  text-align: center;
}

.settings-device-selection{
  align-items: center;
  width: 75%
}

.settings-device-selection button{
  width: 90%;
  margin: 10px
}

