body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  color: black;
}

button {
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.2);
}

button:active {
  transform: scale(0.8);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hello-message {
  display: block;
  margin: 20px;
  width: 100%;
}
#login-button {
  background-color: #1ed760;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding-right: 20px;
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

#login-button img {
  height: 50px;
}


.landing-page {
  text-align: center;
  align-items: center;
  display:flex;
  flex-direction: column;
  max-width: 500px;
}

#landing-page-text{
  margin: 20px
}

.player-container {
  background-color: #e7e7e7;
  padding: 25px 25px 25px 25px;
  border-radius: 40px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: center;
  display:flex;
  transition: 0.5s ease;
}

.player-container.ready {
  max-width: 250px;
  padding: 25px 23px 60px 23px;
}

.song-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-album {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeInControls {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1.3);
  }
}

.fade-in-controls {
  animation: fadeInControls 0.5s ease-out forwards;
}

.album-cover {
  margin-bottom: 5px;
  width: 100%; 
}

.album-cover img {
  max-width: 95%;
  border: black 3px solid;
}

.song-details-content {
  display: flex;
  width: 90%; 
  text-align: left; 
  justify-content: space-between; 
  margin-bottom: 30px;
}


.song-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.8rem;
}

#current-song{
  font-weight: bold;
}

.like-button {
  width: 18%;
  border-radius: 30%;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 80%;
  color: white;
  background-image: url(media/unliked.png);
}

.controls {
  margin: auto;
  background-color: white;
  width: 70%;
  padding: 7px;
  display: flex;
  box-shadow: 0 0 8px rgba(0,0,0,0.1) inset;
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  transform: scale(1.3);
}

.controls button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}


.next-button {
  background-size: 80%;
  background-color: rgba(128, 128, 128, 0);
  color: white;
  background-image: url(media/skip.png);
  margin-right: 10px;
}

.previous-button {
  background-size: 80%;
  background-color: rgba(128, 128, 128, 0);
  color: white;
  background-image: url(media/prev.png);
  margin-left: 10px;
  
}

.play-button {
  background-color: rgba(0, 0, 0, 0);
  background-size: 90%;
  color: white;
  background-image: url(media/pause.png);
  
}

.loading {
  color: #333;
}
.get-started-button {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.settings-menu {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  background-color: #e7e7e7;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
  z-index: 1000;
}

.settings-menu button {
  background-color: rgb(239, 239, 239);
  width: 80%;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}


#settings-button {
  position: fixed;
  top: 5px;
  right: 5px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  background-image: url(media/menu.png);
  background-size: cover;
  background-color: transparent; 
  z-index: 1000;
  transition: 0.5s ease;
}

.settings-device-selection{
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.sign-out-container {
  position: absolute;
  bottom: 10px; 
  width: 100%; 
  display: flex;
  justify-content: center; 
}

#sign-out {
  background-color: #fd6b6b;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}


.device-selection {
  text-align: center;
  align-items: center;
  display:flex;
  flex-direction: column;
}

.device-selection button{
  background-color: rgb(239, 239, 239);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
  cursor: pointer;
  text-align: left;
  flex-direction: column;
}

.prompt-text {
  margin-right: 10px;
  text-align: left;
  margin-top: 20px;
}

#device-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#device-list button {
  background-color: rgb(239, 239, 239);
  color: black;
}

#start-playing {
  background-color: #1ed760;
  color: white;

}

.refresh-devices {
  background-color: #00c3f4;
  color: white;
  padding: 10px 10px;
  margin-left: 30px;
}

#about{
  background-color: rgb(239, 239, 239);
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  font-size: 0.9rem;;
  text-align: left;
  height: 200px;
  overflow-y: auto;
}

